# .gitignore

# Virtual environment
app_env/bin
app_env/include
app_env/lib
app_env/my_tennis_club/productionfiles/admin
app_env/my_tennis_club/.ebextensions

# Database
*.sqlite3
app_env/my_tennis_club/post
app_env/my_tennis_club/postgres
app_env/my_tennis_club/requirements.txt
